test-input/wsdl-asmx-dualbinding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- ASP.NET ASMX-style description: one portType exposed through both a SOAP
     1.1 and a SOAP 1.2 binding, an inline schema with array wrapper types, and
     an .asmx endpoint address. This is the shape an "Add Web Reference" cache
     stores. The XSD namespace is bound to the `s:` prefix (Microsoft's
     convention), exercising prefix-agnostic schema rendering. -->
<wsdl:definitions
    targetNamespace="http://example.org/tasks/TaskAccessPoint"
    xmlns:tns="http://example.org/tasks/TaskAccessPoint"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified"
              targetNamespace="http://example.org/tasks/TaskAccessPoint">
      <s:element name="StartTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntryPointName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="InputParameters" type="tns:ArrayOfParameter"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Parameter" type="tns:Parameter"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="StartTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="CompletedAt" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="StartTaskSoapIn">
    <wsdl:part name="parameters" element="tns:StartTask"/>
  </wsdl:message>
  <wsdl:message name="StartTaskSoapOut">
    <wsdl:part name="parameters" element="tns:StartTaskResponse"/>
  </wsdl:message>

  <wsdl:portType name="TaskAccessPointSoap">
    <wsdl:operation name="StartTask">
      <wsdl:documentation>Start a task at the named entry point and await its result.</wsdl:documentation>
      <wsdl:input message="tns:StartTaskSoapIn"/>
      <wsdl:output message="tns:StartTaskSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="TaskAccessPointSoap" type="tns:TaskAccessPointSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StartTask">
      <soap:operation soapAction="http://example.org/tasks/TaskAccessPoint/StartTask" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="TaskAccessPointSoap12" type="tns:TaskAccessPointSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StartTask">
      <soap12:operation soapAction="http://example.org/tasks/TaskAccessPoint/StartTask" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="TaskAccessPoint">
    <wsdl:port name="TaskAccessPointSoap" binding="tns:TaskAccessPointSoap">
      <soap:address location="http://localhost/tasks/TaskAccessPoint.asmx"/>
    </wsdl:port>
    <wsdl:port name="TaskAccessPointSoap12" binding="tns:TaskAccessPointSoap12">
      <soap12:address location="http://localhost/tasks/TaskAccessPoint.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
