test-input/wsdl-stockquote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Classic SOAP 1.1 document/literal service with an inline <types> schema.
     Adapted from the W3C WSDL 1.1 primer's StockQuote example. -->
<definitions name="StockQuote"
             targetNamespace="http://example.com/stockquote.wsdl"
             xmlns:tns="http://example.com/stockquote.wsdl"
             xmlns:xsd1="http://example.com/stockquote.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
    Stock quote service: returns the last trade price for a ticker symbol.
  </documentation>

  <types>
    <xsd:schema targetNamespace="http://example.com/stockquote.xsd"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="TradePriceRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tickerSymbol" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TradePrice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="price" type="xsd:float"/>
            <xsd:element name="currency" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="GetLastTradePriceInput">
    <part name="body" element="xsd1:TradePriceRequest"/>
  </message>
  <message name="GetLastTradePriceOutput">
    <part name="body" element="xsd1:TradePrice"/>
  </message>

  <portType name="StockQuotePortType">
    <operation name="GetLastTradePrice">
      <documentation>Return the last trade price for the given symbol.</documentation>
      <input message="tns:GetLastTradePriceInput"/>
      <output message="tns:GetLastTradePriceOutput"/>
    </operation>
  </portType>

  <binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetLastTradePrice">
      <soap:operation soapAction="http://example.com/GetLastTradePrice"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="StockQuoteService">
    <documentation>My first service</documentation>
    <port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
      <soap:address location="http://example.com/stockquote"/>
    </port>
  </service>
</definitions>
