test-input/xsd-anonymous.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Anonymous nested types: complexType inlined under its element, and an
     attribute whose simpleType restriction is inlined onto the @name line. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:element name="Batch">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Period" type="xsd:string"/>
        <xsd:element ref="Sender" minOccurs="3" maxOccurs="3"/>
        <xsd:element ref="Invoice" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="type" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="xml02"/>
            <xsd:enumeration value="xml03"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Sender">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="lang" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
